services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow_server
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/app/mlruns
    command: mlflow server --host 0.0.0.0 --port 5000 --dev

  api:
    build: .
    container_name: spam_api
    restart: always  # <-- This ensures it runs automatically on startup
    ports:
      - "8000:8000"
    volumes:
      - ./artifacts:/app/artifacts
    depends_on:
      - mlflow_server